[submodule "RBE549-S25-S01.wiki"]
	path = RBE549-S25-S01.wiki
	url = https://github.com/neehalsharrma/RBE549-S25-S01.wiki.git
	branch = master
	update = rebase
[submodule "P3-EinsteinVision/Networks/TwinLiteNetPlus"]
	path = P3-EinsteinVision/Networks/TwinLiteNetPlus
	url = git@github.com:chequanghuy/TwinLiteNetPlus.git
[submodule "P3-EinsteinVision/Networks/--force"]
	path = P3-EinsteinVision/Networks/--force
	url = git@github.com:apple/ml-depth-pro.git
[submodule "P3-EinsteinVision/Networks/DepthPro"]
	path = P3-EinsteinVision/Networks/DepthPro
	url = git@github.com:apple/ml-depth-pro.git
[submodule "P3-EinsteinVision/Networks/openpifpaf"]
	path = P3-EinsteinVision/Networks/openpifpaf
	url = git@github.com:openpifpaf/openpifpaf.git
[submodule "P3-EinsteinVision/Networks/ZoeDepth"]
	path = P3-EinsteinVision/Networks/ZoeDepth
	url = git@github.com:isl-org/ZoeDepth.git
